.nav_container{
 /* position: fixed; */
    width:100vw;
    height:10%;
    display:flex;
    justify-content:space-between;
}
.nav_logo_container{
    width:14rem;
    height:3.5rem;
    display:flex;
    align-items:center;
    justify-content:center;
}
.logo__image{
    width:3.5rem;

}
.navigation__links-container{
    display: flex;
    align-items: center;
    padding:1rem;
    justify-content:center;

}
Link{
    list-style-type: none;
}
.navigation__links-container {
    justify-content: center;
    align-items:center;
    top:0;
    left:-100% auto;
    text-align:center;
    width: 100% ;
    transition: 0.3s;
    z-index: -1;

}
.navigation__links-container li{
    padding : 0rem 2rem;
    list-style-type:none;
    text-decoration: none;
}
.navigation__links-container .btn{

    padding:0.1rem 2rem;
   width:10rem;
   cursor: pointer;
   color:white;
    text-decoration: none;
}
.navigation__links-container .btn:hover{
    /* text-decoration: underline; */
    border: 4px inset rgb(35, 7, 177);
    border-bottom: none;
    border-radius:3px;
}

.btn{
    color:var(--second-color);
}





