@tailwind base;
@tailwind components;
@tailwind utilities; 

*, ::before, ::after{
  margin:0;
  border: 0;
  outline:0;
  list-style:none;
  text-decoration: none;
  box-sizing: border-box;
  scroll-behavior: auto;
  /* font-family: serif; */
  transition: all .5s;
}


:root{
--tw-bg-opacity: 1;
--hover-bg-opacity: 0.7;
--danger-color:rgb(181, 39, 56);
--second-color:rgb(3, 8, 34);
--third-color:rgb(255,255,255);
--primary-color:rgb(30 58 138 / var(--tw-bg-opacity));
--primary-hover-bg-color:rgb(30 58 138 / var( --hover-bg-opacity));
--primary-transparent-green:rgba(116, 184, 184, 0.9);
--transition:all 5000ms ease-out;
}

body{
  background-color:var(--second-color);
  color:white;
  list-style-type:none;
  width:100%;
  
}

/* GENERAL STYLE FOR ALL HEADERS */
h1,h2,h3{
  padding:2rem;
}
header{
  background-color: var(--danger-color);
  /* margin-top:5rem; */
  /* overflow:hidden; */
 }
.header__container{
  background-color:var(--second-color);
  height:20rem;
  position:relative;
  display: flex;
  place-items: center;
  border-bottom:10px solid rgb(67, 67, 67);
}
.header__container-bg{
  /* position:absolute; */
  width:100vw;

}
.header__container-bg img{
  width:100vw;
  opacity:0.3
}
.header__content{
display:grid;
width: 44%;
place-items: center;
margin-inline: auto;

}
.header__content p{
  font-size:1.2rem;
 }  
